// GLOBAL VARIABLES

beige = #DDC283
brown = #6F4E37
redbrown = #A52A2A

// END OF GLOBAL VARIABLES
// FUNCTIONS

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -ms-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -ms-box-shadow arguments
  box-shadow arguments

box-sizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  -ms-box-sizing arguments
  box-sizing arguments

// EDN OF FUNCTIONS