textarea
  width 100%
  height 400px
  resize vertical
  box-sizing border-box
  font-family "Lucida Console", monospace
  font-size 20px
  border 5px solid beige
  border-radius 5px
  background-color rgba(0, 0, 0, 0)
  color beige
  margin-bottom 10px

  &:focus
    outline none

  &::-webkit-input-placeholder
    color beige

  &:-moz-placeholder
    color beige

  &::-moz-placeholder
    color beige

  &:-ms-input-placeholder
    color beige

a
  display block
  border 5px solid beige
  border-radius 5px
  text-align center
  padding 5px
  font-size 30px
  color beige
  text-decoration none
