doctype html
html
head
	link(type="text/css", rel="stylesheet", href="css/load.css")
body
	form
		textarea#drop(placeholder="Enter your code or drop a file here.", data-ng-model="srcRef.src")
	a(href="#!/interpreter") Go to interpreter
